project:
  type: website
  output-dir: docs

website:
  title: "PM 566 Final Project"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: "Data Processing.qmd"
        text: Data Processing
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

execute:
  echo: true
  warning: false
  message: false
  freeze: auto           # 本地先跑好代码，GitHub 上只用静态结果，避免上传数据


